{% assign my_posts = include.posts %}
{% assign my_index = 1 %}
{% assign last_index = my_posts | size %}

{% assign previous_index = last_index %}

<div class="carousel-wrapper" >
<section class="carousel" aria-label="Gallery">
    <ol class="carousel__viewport">
        {% for post in my_posts %}
        {% if my_index == last_index %}
            {% assign next_index = 1 %}
        {% else %}
            {% assign next_index = my_index | plus:1 %}
        {% endif %}
        <li id="carousel__slide{{my_index}}" tabindex="0" class="carousel__slide"> <!-- style="background-image: url('{{ post.preview_img }}'); background-size: cover;" -->
            <div class="carousel__snapper" style="overflow: hidden;">
                <figure class="wp-caption">
                    <img class="demo" src="{{ post.preview_img }}" alt="Image" style="border: none;"/>
                    <figcaption class="wp-caption-text">
                        <a href="{{ post.url | relative_url }}"><h3>{{ post.title }}</h3></a>
                    </figcaption>
                </figure>
    
                <a href="#carousel__slide{{previous_index}}" class="carousel__prev">Go to prev slide</a>
                <a href="#carousel__slide{{next_index}}" class="carousel__next">Go to next slide</a>
            </div>
        </li>
        {% assign previous_index = my_index %}
        {% assign my_index = next_index %}
        {% endfor %}
    </ol>
    <aside class="carousel__navigation">
        <ol class="carousel__navigation-list">
            {% assign idx = 1 %}
            {% for post in my_posts %}
                <li class="carousel__navigation-item">
                    <a href="#carousel__slide{{idx}}" class="carousel__navigation-button">Go to slide {{idx}}</a>
                </li>
            {% assign idx = idx | plus:1 %}
            {% endfor %}
        </ol>
    </aside>
</section>
</div>