.link-button-container {
    display: inline-block;
    padding-top: 15px;
    padding-bottom: 10px;
}

.link-button-outer {
    display: inline-block;
    position: relative;
    background-color: #7c334f;
    height: 85px;
    width: 160px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 10px;
    cursor: pointer;
}

.link-button-inner {
    display: block;
    position: absolute;
    border: 5px solid #cd596b;
    background-color: #7c334f;
    z-index: 1;
    height: 75px;
    width: 150px;
    margin: 5px 5px;
    color: #ece4d8;
    font: inherit;
    font-size: 30px;
    cursor: pointer;
}

.link-button-left {
    margin-left: 77px;
    margin-right: 39px;
}

.link-button-right {
    margin-left: 38px;
}

/* Card Styles */
.card {
    width: 100%;
    padding-top: 25px;
    padding-bottom: 35px;
}