.timeline-container {
    background-color: whitesmoke;
    color: #7f8c97;
    max-width: 1224px;
    height: 100%;
    text-align: center;
    margin: 0 auto;
    padding: 2em;
    position: relative;
}

.timeline-main-title {
    color: #4e4e4e;
    font-weight: 600;
    font-size: 4em;
    margin-bottom: .3em;
    font-family: "Dosis";
}

.timeline {
    position: relative;
    width: auto;
    margin: 0 auto;
    margin-top: 5em;
    padding-bottom: 2em;
    padding-left: 0;
}

.timeline:before {
    position: absolute;
    left: 50%;
    top: 0;
    content: ' ';
    display: block;
    width: 4px;
    height: 100%;
    margin-left: -3px;
    background: #d7e4ed;
    z-index: 5;
}

.dir-l, .dir-r {
    position: relative;
    width: 40%;
    padding: 1.5em 1em;
    background: #fff;
    box-shadow: 0 3px 0 #d7e4ed;
    margin-top: 0;
    margin-bottom: 1.5em;
}

.timeline h1 {
    font-size: 1.6em;
    color: #4B878D;
    width: 90%;
    margin-top: 0;
    font-family: "Dosis";
}

.timeline p {
    letter-spacing: .5px;
    font-size: 1.1em;
    line-height: 1.5em;
    margin: .5em;
    margin-top: 1.5em;
    font-family: "Dosis";
}

.timeline img {
    border-radius: 50%;
}

.timeline-icon {
    position: absolute;
    top: 1em;
    width: 2.5em;
    height: 2.5em;
    right: 0;
    border-radius: 50%;
    z-index: 10;
}

.timeline a {
    color: #38666a;
    margin-left: .3em;
}

.dir-l {
    float: left;
}

.dir-l:before {
    content: "";
    display: inline-block;
    vertical-align: middle;
    width: 0;
    height: 0;
    position: absolute;
    right: -.95em;
    top: 1em;
    border-top: 17px solid transparent;
    border-bottom: 17px solid transparent;
    border-left: 15px solid #fff;
}

.dir-r {
    float: right;
}

.dir-r:before {
    content: "";
    display: inline-block;
    vertical-align: middle;
    width: 0;
    height: 0;
    position: absolute;
    left: -.9em;
    top: 1em;
    border-top: 17px solid transparent;
    border-bottom: 17px solid transparent;
    border-right: 15px solid #fff;
}

.timeline-icon {
    position: absolute;
    top: -.2em;
    width: 60px;
    height: 60px;
    left: 50%;
    margin-left: -30px;
    box-shadow: 0 0 0 4px white, inset 0 2px 0 rgba(0, 0, 0, 0), 0 0 0 5px rgba(0, 0, 0, 0.15);
}

.timeline-blocks {
    display: block;
    height: auto;
    padding: 1em 0;
    position: relative;
    overflow: hidden;
}

.timeline img {
    border-radius: 50%;
    width: 100%;
}

.timeline a {
    color: #38666a;
    margin-left: .3em;
}

.timeline-blocks .date-l, .timeline-blocks .date-r {
    position: absolute;
    top: 2em;
    right: 58%;
    font-size: 1em;
}

.timeline-blocks .date-r {
    left: 54%;
    right: auto;
}

.timeline-blocks a:hover {
    color: #4B878D;
}
