---
layout: blog
description: Raccontiamola
pagination:
  enabled: true
  tag: memory
  sort_field: 'time' # 'period'
  sort_reverse: true # false
  per_page: 3
list_title: Ricordi e Racconti
---

<p class="post-list-heading header-level-2" style="text-align:center;">{{ page.list_title | default: "Posts" }}</p>
<ul class="post-list">
  <!-- post list -->
  {% for post in paginator.posts %}
  <li>
    <!--{%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}-->
    <!--span class="post-meta">{{ post.date | date: date_format }}</span-->
    <h3>
      <a class="post-link" href="{{ post.url | relative_url }}">
        {{ post.title | escape }}
      </a>
    </h3>
    {% if post.badge %}
      <span class="badge badge-{{ post.badge }}">{{ post.badge }}</span>
    {% endif %}
    <em>{{ post.date | date: site.date_format }} - {{ post.author}}</em>
    <p class="post-meta">{{ post.excerpt }}</p>
    {% if post.preview_img %}
      <img class="post-miniature" src="{{ post.preview_img }}">
    {% endif %}
    <br/>
   </li>
  {%- endfor -%}
</ul>

<!-- pagination -->
{% if paginator.total_pages > 1 %}
<div class="pagination">
  {% if paginator.previous_page %}
    <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">&laquo; Prev</a>
  {% else %}
    <span>&laquo; Prev</span>
  {% endif %}

  {% for page in (1..paginator.total_pages) %}
    {% if page == paginator.page %}
      <span class="webjeda">{{ page }}</span>
    {% elsif page == 1 %}
      <a href="/blog/">{{ page }}</a>
    {% else %}
      <a href="/blog/page{{ page }}/">{{ page }}</a>
    {% endif %}
  {% endfor %}

  {% if paginator.next_page %}
    <a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">Next &raquo;</a>
  {% else %}
    <span>Next &raquo;</span>
  {% endif %}
</div>
{% endif %}

<hr/>

<p> Vi invito a raccontare Bea inviando a <a href="mailto:trentesimobea@gmail.com">trentesimobea@gmail.com</a> un aneddoto, pensiero, una poesia o una ricordo. Se volete, potrete accompagnare il tutto con una o più foto, canzoni video.</p>
<p> Qualora a metà maggio si fosse raccolto già abbastanza materiale, mi adopererò affinché venga stampato e possa riceverne una copia sotto forma di libro!</p>
