---
layout: blog
description: Raccontiamola
pagination:
  enabled: true
  tag: memory-bis
  sort_field: 'time' # 'period'
  sort_reverse: true # false
  per_page: 3
list_title: Ricordi e Racconti
---

<p class="post-list-heading header-level-2" style="text-align:center;">{{ page.list_title | default: "Posts" }}</p>
<ul class="post-list">
  <!-- post list -->
  {% for post in paginator.posts %}
  <li>
    <!--{%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}-->
    <!--span class="post-meta">{{ post.date | date: date_format }}</span-->
    <h3>
      <a class="post-link" href="{{ post.url | relative_url }}">
        {{ post.title | escape }}
      </a>
    </h3>
    {% if post.badge %}
      <span class="badge badge-{{ post.badge }}">{{ post.badge }}</span>
    {% endif %}
    <em>{{ post.date | date: site.date_format }} - {{ post.author}}</em>
    <p class="post-meta">{{ post.excerpt }}</p>
    {% if post.preview_img %}
      <img class="post-miniature" src="{{ post.preview_img }}">
    {% endif %}
    <br/>
   </li>
  {%- endfor -%}
</ul>

<!-- pagination -->
{% if paginator.total_pages > 1 %}
<div class="pagination">
  {% if paginator.previous_page %}
    <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">&laquo; Prev</a>
  {% else %}
    <span>&laquo; Prev</span>
  {% endif %}

  {% for page in (1..paginator.total_pages) %}
    {% if page == paginator.page %}
      <span class="webjeda">{{ page }}</span>
    {% elsif page == 1 %}
      <a href="/blog/">{{ page }}</a>
    {% else %}
      <a href="/blog/page{{ page }}/">{{ page }}</a>
    {% endif %}
  {% endfor %}

  {% if paginator.next_page %}
    <a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">Next &raquo;</a>
  {% else %}
    <span>Next &raquo;</span>
  {% endif %}
</div>
{% endif %}

<hr/>

<p> Vi invito a raccontare Bea inviando a <a href="mailto:trentesimobea@gmail.com">trentesimobea@gmail.com</a> un aneddoto, pensiero, una poesia o una ricordo. Se volete, potrete accompagnare il tutto con una o più foto, canzoni video.</p>
<p> Qualora a metà maggio si fosse raccolto già abbastanza materiale, mi adopererò affinché venga stampato e possa riceverne una copia sotto forma di libro!</p>

<hr/>

<p class="post-list-heading header-level-2" style="text-align:center;">Ricordi e Racconti Mauro</p>
<div class="container-fluid blue-bg">
  <div class="container">
    <!--h2 class="pb-3 pt-2">Vertical Left-Right Timeline</h2-->
    {% assign my_posts = site.posts | where: "author", "Mauro" | sort: "date" %}
    {% assign my_index = 1 %}
    {% assign last_index = my_posts | size %}

    {% for post in my_posts %}
    {% assign left = my_index | modulo: 2 %}
    {% if left == 1 %}
    <!--first section-->
    
    <div class="row align-items-center how-it-works">
      {% if my_index == 1 %}
      <div class="col-2 text-center bottom">
      {% elsif my_index == last_index  %}
      <div class="col-2 text-center top-left">
      {% else %} 
      <div class="col-2 text-center full-left">
      {% endif %}
      <!--div class="circle">{{ post.period | split: "-" | first }}</div-->
      <div class="circle" style="background-image: url('{{ post.preview_img }}'); background-size: cover; width: 50px; height: 50px;"></div>

      </div>
      <div class="col-8">
        <p><a href="{{ post.url | relative_url }}">{{ post.title }}</a></p>
        <p>
          {{ post.excerpt }}
          <em><a href="{{ post.url | relative_url }}">Leggi</a></em>
        </p>
        {% if false %}
        <img class="post-miniature" src="{{ post.preview_img }}">
        {% endif %}
      </div>
    </div>
    {% if my_index == last_index %}
    <h2>I am the last</h2>
    {% else %}
    <!--path between 1-2-->
    <div class="row timeline">
      <div class="col-2">
        <div class="corner top-right"></div>
      </div>
      <div class="col-8">
        <hr />
      </div>
      <div class="col-2">
        <div class="corner left-bottom"></div>
      </div>
    </div>
    {% endif %}
    {% else %}
    <!--second section-->
    <div class="row align-items-center justify-content-end how-it-works">
      <div class="col-8 text-right">
        <p><a href="{{ post.url | relative_url }}">{{ post.title }}</a></p>
        <p>
          {{ post.excerpt }}
          <em><a href="{{ post.url | relative_url }}">Leggi</a></em>
        </p>
        {% if false %}
        <img class="post-miniature" src="{{ post.preview_img }}">
        {% endif %}
      </div>
      {% if my_index == last_index %}
      <div class="col-2 text-center top-right">
      {% else %} 
      <div class="col-2 text-center full-right">
      {% endif %}
        <div class="circle" style="background-image: url('{{ post.preview_img }}'); background-size: cover; width: 50px; height: 50px;">
          <!--{{ post.period | split: "-" | first }}-->
          <!--img src="{{ post.preview_img }}" style="border-radius: 50%; width: 100%;"-->
      </div>
      </div>
    </div>

    {% if my_index == last_index %}
    <!--path between 2-3-->
    {% else %}
    <div class="row timeline">
      <div class="col-2">
        <div class="corner right-bottom"></div>
      </div>
      <div class="col-8">
        <hr />
      </div>
      <div class="col-2">
        <div class="corner top-left"></div>
      </div>
    </div>
    {% endif %}
    {% endif %}
    {% assign my_index = my_index | plus:1 %}
    {% endfor %}
  </div>
</div>
