---
layout: default
---
{%- include header.html -%}
{% if site.show_blog %}
    <section id="downloads">
        <span class="inner">
          <a href="/auguri" class="zip">Auguri</a>
          <a href="/blog" class="tgz">Blog</a>
        </span>
    </section>
{% else %}
    <div id="no-downloads">
        <span class="inner"></span>
    </div>
{% endif %}

<span class="banner-fix"></span>

<section id="main_content">
  {{ content }}
</section>

<footer>
  <span class="ribbon-outer">
    <span class="ribbon-inner">
      <p>Convidi anche a tu un ricordo!</p>
    </span>
    <span class="left-tail"></span>
    <span class="right-tail"></span>
  </span>
  <a href="/">Home</a> | 
  <a href="/blog">Racconti</a> |
  <a href="mailto:trentesimobea@gmail.com">Email</a>
</footer>