---
layout: default
---
{%- include header.html -%}
<section id="downloads">
  <span class="inner">
  <a href="/" class="zip">Home</a>
  <a href="/blog" class="tgz">Blog</a>
  </span>
</section>

<span class="banner-fix"></span>

<section id="main_content">
  <h2>{{ page.title }}</h2>
  {{ content }}
</section>

<footer>
  <span class="ribbon-outer">
    <span class="ribbon-inner">
      <p>{{ page.author }}</p>
    </span>
    <span class="left-tail"></span>
    <span class="right-tail"></span>
  </span>
  <p></p>
</footer>